<div class="row outer-row">
    <div class="cold-md-3 menu-column">
        <app-profile-menu ></app-profile-menu>
    </div>
      <div class="cold-md-9 profile-column">
       <!-- <app-profile-information *ngIf="menuNameContent === 'profile-information'" [menuName] = "menuNameContent"></app-profile-information>
        <app-manage-address *ngIf="menuNameContent === 'manage-address'" [menuName] = "menuNameContent"></app-manage-address>
        <app-my-order *ngIf="menuNameContent === 'my-orders'" [menuName] = "menuNameContent"></app-my-order>
       -->
    </div>
</div>
<router-outlet></router-outlet>