<div class="row outer-row">
	<div class="row image-row">
		<div class="label-row">
			<a href="index.html">Home</a>
			<span>Products</span>
            <h1 >Products</h1>
		</div>
    </div>

 <div class="row header-main-row">
              <div class="row header-in-row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-all-tab" (click)="getAllProducts()" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">ALL</a>
                      <a class="nav-item nav-link" id="nav-vegetables-tab" (click)="getProductItemByProductName('Vegetables')" data-toggle="tab" href="#nav-vegetables" role="tab" aria-controls="nav-vegetables" aria-selected="false">Vegetables</a>
                      <a class="nav-item nav-link" id="nav-fruits-tab" (click)="getProductItemByProductName('Fruits')" data-toggle="tab" href="#nav-fruits" role="tab" aria-controls="nav-fruits" aria-selected="false">Fruits</a>
                      <a class="nav-item nav-link" id="nav-juice-tab" (click)="getProductItemByProductName('Juices')" data-toggle="tab" href="#nav-juice" role="tab" aria-controls="nav-juice" aria-selected="false">Juice</a>
                      <a class="nav-item nav-link" id="nav-dried-tab" (click)="getProductItemByProductName('Dried Food')" data-toggle="tab" href="#nav-dried" role="tab" aria-controls="nav-dried" aria-selected="false">Dried</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                      
                     <!-- <div class="container">-->
		<div class="row"> 
		
       <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let productItem of productsItemList" (click)="showProductItem(productItem.id)">
        <div class="product">
          	<a class="img-prod"><img class="img-fluid " src="{{productItem.productItemImageModel.itemInageFileUrl}}"  alt="Colorlib Template">
    			<span class="status">30%</span>
    			<div class="overlay"></div>
    		</a>
        <div class="text py-3 pb-4 px-3 text-center">
            <h3>
				<a>{{productItem.itemName}}</a></h3>
					<div class="d-flex">
    					<div class="pricing">
		    				<p class="price">
								<span class="mr-2 price-dc">{{productItem.itemMrp}}</span>
								<span class="price-sale">{{productItem.discountPrice}}</span>
							</p>
		    			</div>
	    			</div>

			<div class="bottom-area ">
				<div class="auto-verlay ">
					<a class="add-to-cart text-center-1 rounded-circle">
						<span><i class="fas fa-bars"></i></span>
					</a>
					<a class="buy-now text-center-1 rounded-circle">
						<span><i class="fas fa-shopping-cart"></i></span>
					</a>
					<a class="heart text-center-1 rounded-circle">
						<span><i class="fas fa-heart"></i></span>
					</a>
				</div>
			</div>
         </div>
        </div>
       </div> 
      <!--</div>-->
	  <!--<div class="page-row">
		<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
	</div>-->
	</div>
    </div>
    <div class="tab-pane fade" id="nav-vegetables" role="tabpanel" aria-labelledby="nav-vegetables-tab">
        <div class="row"> 
		
       <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let productItem of productsItemList" (click)="showProductItem(productItem.id)">
        <div class="product">
          	<a class="img-prod"><img class="img-fluid " src="{{productItem.productItemImageModel.itemInageFileUrl}}" alt="Colorlib Template">
    			<span class="status">30%</span>
    			<div class="overlay"></div>
    		</a>
        <div class="text py-3 pb-4 px-3 text-center">
            <h3>
				<a>{{productItem.itemName}}</a></h3>
					<div class="d-flex">
    					<div class="pricing">
		    				<p class="price">
								<span class="mr-2 price-dc">{{productItem.itemMrp}}</span>
								<span class="price-sale">{{productItem.discountPrice}}</span>
							</p>
		    			</div>
	    			</div>

			<div class="bottom-area ">
				<div class="auto-verlay ">
					<a class="add-to-cart text-center-1 rounded-circle">
						<span><i class="fas fa-bars"></i></span>
					</a>
					<a class="buy-now text-center-1 rounded-circle">
						<span><i class="fas fa-shopping-cart"></i></span>
					</a>
					<a class="heart text-center-1 rounded-circle">
						<span><i class="fas fa-heart"></i></span>
					</a>
				</div>
			</div>
         </div>
        </div>
       </div> 
	   
	<!--</div>-->
    <!--    <div class="page-row">
		<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
	</div>-->
		</div>
    </div>
    <div class="tab-pane fade" id="nav-fruits" role="tabpanel" aria-labelledby="nav-fruits-tab">
        <div class="row"> 
		
       <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let productItem of productsItemList" (click)="showProductItem(productItem.id)">
        <div class="product">
          	<a class="img-prod"><img class="img-fluid " src="{{productItem.productItemImageModel.itemInageFileUrl}}" alt="Colorlib Template">
    			<span class="status">30%</span>
    			<div class="overlay"></div>
    		</a>
        <div class="text py-3 pb-4 px-3 text-center">
            <h3>
				<a>{{productItem.itemName}}</a></h3>
					<div class="d-flex">
    					<div class="pricing">
		    				<p class="price">
								<span class="mr-2 price-dc">{{productItem.itemMrp}}</span>
								<span class="price-sale">{{productItem.discountPrice}}</span>
							</p>
		    			</div>
	    			</div>

			<div class="bottom-area ">
				<div class="auto-verlay ">
					<a class="add-to-cart text-center-1 rounded-circle">
						<span><i class="fas fa-bars"></i></span>
					</a>
					<a class="buy-now text-center-1 rounded-circle">
						<span><i class="fas fa-shopping-cart"></i></span>
					</a>
					<a  class="heart text-center-1 rounded-circle">
						<span><i class="fas fa-heart"></i></span>
					</a>
				</div>
			</div>
         </div>
        </div>
       </div> 
	  <!--</div>-->
        <!--<div class="page-row">
		<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
	</div>-->
		</div>
    </div>
    <div class="tab-pane fade" id="nav-juice" role="tabpanel" aria-labelledby="nav-juice-tab">
        <div class="row"> 
		
       <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let productItem of productsItemList" (click)="showProductItem(productItem.id)">
        <div class="product">
          	<a class="img-prod"><img class="img-fluid " src="{{productItem.productItemImageModel.itemInageFileUrl}}" alt="Colorlib Template">
    			<span class="status">30%</span>
    			<div class="overlay"></div>
    		</a>
        <div class="text py-3 pb-4 px-3 text-center">
            <h3>
				<a>{{productItem.itemName}}</a></h3>
					<div class="d-flex">
    					<div class="pricing">
		    				<p class="price">
								<span class="mr-2 price-dc">{{productItem.itemMrp}}</span>
								<span class="price-sale">{{productItem.discountPrice}}</span>
							</p>
		    			</div>
	    			</div>

			<div class="bottom-area ">
				<div class="auto-verlay ">
					<a class="add-to-cart text-center-1 rounded-circle">
						<span><i class="fas fa-bars"></i></span>
					</a>
					<a class="buy-now text-center-1 rounded-circle">
						<span><i class="fas fa-shopping-cart"></i></span>
					</a>
					<a class="heart text-center-1 rounded-circle">
						<span><i class="fas fa-heart"></i></span>
					</a>
				</div>
			</div>
         </div>
        </div>
       </div> 
	  <!--</div>-->
        <!--<div class="page-row">
		<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
	</div>-->
		</div>
	</div>
	<div class="tab-pane fade" id="nav-dried" role="tabpanel" aria-labelledby="nav-dried-tab">
       <div class="row"> 
		
       <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let productItem of productsItemList" (click)="showProductItem(productItem.id)">
        <div class="product">
          	<a  class="img-prod"><img class="img-fluid " src="{{productItem.productItemImageModel.itemInageFileUrl}}" alt="Colorlib Template">
    			<span class="status">30%</span>
    			<div class="overlay"></div>
    		</a>
        <div class="text py-3 pb-4 px-3 text-center">
            <h3>
				<a>{{productItem.itemName}}</a></h3>
					<div class="d-flex">
    					<div class="pricing">
		    				<p class="price">
								<span class="mr-2 price-dc">{{productItem.itemMrp}}</span>
								<span class="price-sale">{{productItem.discountPrice}}</span>
							</p>
		    			</div>
	    			</div>

			<div class="bottom-area ">
				<div class="auto-verlay ">
					<a class="add-to-cart text-center-1 rounded-circle">
						<span><i class="fas fa-bars"></i></span>
					</a>
					<a class="buy-now text-center-1 rounded-circle">
						<span><i class="fas fa-shopping-cart"></i></span>
					</a>
					<a class="heart text-center-1 rounded-circle">
						<span><i class="fas fa-heart"></i></span>
					</a>
				</div>
			</div>
         </div>
        </div>
       </div> 
	   
	
	   
	<!--</div>-->
    <!--    <div class="page-row">
		<ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
	</div>-->
		
    </div>
	</div>
    </div>
    </div>
    </div>  
</div>
<section>
	<app-footer></app-footer>
</section>
</div>